*{
font-family: JetBrains Mono;
border-radius: 0;
}

window {
margin: 0px;
border: 2px solid #928374;
background-color: #282828;
border-radius: 0;
}

#input {
margin: 5px;
border: none;
color: #ebdbb2;
background-color: #1d2021;
border-radius: 0;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282828;
border-radius: 0;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282828;
border-radius: 0;
}

#scroll {
margin: 0px;
border: none;
border-radius: 0;
}

#text {
margin: 5px;
border: none;
color: #ebdbb2;
}

#entry:selected {
background-color: #1d2021;
border-radius: 0;
}
